  <script src="/js/assets/approvedRejected.js" defer></script>

 <style>
   .table-responsive {
            max-height: 70vh;
            overflow-y: auto;
        }
 </style>
<%- include('./component/head') %>

<body>
  <div class="wrapper">
    <%- include('./component/sidebar') %>


   

        <div class="container mt-4">
          <div class="page-inner">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            </div>
            <h1>Approved or Rejected Consultations</h1>
            <div id="approvedRejectedConsultations" class="table-responsive"></div>
          </div>
      </div>

         <%- include('./component/footer') %>

  </div>
  <%- include('./component/scirpt') %>


