<nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <span class="navbar-text w-100 text-center">
      Selamat Datang di Pendaftaran Online
    </span>
  </div>
</nav>

</div>